<header class="container-fluid">
    <section class="row well">
        <div class="col-md-12">
            <h1 class="page-header logo">
              SocketSocial
              <small>We Are Social</small>
              <span class="pull-right"><img src="./images/dealersocket-logo-2016.png" alt="logo" ></span>
            </h1>
        </div>
        <div class="col-md-12">
            <div class="navbar navbar-info">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav">
                    <li class="navbar_link" title="See what other DealerSocket employees are up to"><a href="/event-calendar"><i class="fa fa-beer"></i> Events</a></li>
                    <li class="navbar_link" title="Browse SocketSocial members by their hobbies"><a href="/members"><i class="fa fa-users"></i> Members</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <% if (!isSignedIn) { %>
                    <li> <a href="javascript:void(0)">You are not signed in.</a></li>
                    <li class="navbar_link" title="Good to see you back!"><a href="/signin"><i class="fa fa-sign-in gn-rtpad" aria-hidden="true"></i><strong>Sign in</strong></a></li>
                    <li><a href="javascript:void(0)"><em>or</em></a></li>
                    <li class="navbar_link" title="Welcome to SocketSocial"><a href="/signup"><i class="fa fa-paper-plane gn-rtpad" aria-hidden="true"></i><strong>Sign up</strong></a></li>
                    <% } else { %>
                    <li><a href="/profile">Signed in as <%= email %></a></li>
                    <li class="navbar_link" title="See ya later"><a id="signout_user" href="javascript:void(0)"><i class="fa fa-sign-out gn-rtpad" aria-hidden="true"></i>Sign out</a></li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </section>
</header>
