<header class="container-fluid">
    <section class="row">
        <div class="col-md-12">
            <h1 class="page-header">SocketSocial <small>We Are Social</small></h1>
        </div>
    </section>
</header>
