.logo {
  &:hover {
    cursor: pointer;
  }
}
.navbar.navbar-info {
  background-color:#000;
}
.panel.panel-info > .panel-heading {
  background-color:#403d3d;
}
.gn-inline {
  display: inline-block !important;
}
.gn-rtpad {
  padding-right: 2px;
}
.navbar_link {
  transition: background-color 0.33s ease-in, color 0.25s ease-in;

  &:hover {
    cursor: pointer;
    background-color: #CCC;
    color: #444;
  }
}

.logo-tagline {
  font-size: 2rem;
  border-radius: 4px;
  background-color: #005DA8 !important;
}

.jumbotron,
.well:not(.main_header) {
  border-left: 6px solid #005DA8 !important;
}

.main_points {
  i {
    color: #03A9F4;
  }
}

.sub_title {
  margin-left: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #005DA8;
}
