.logo {
  &:hover {
    cursor: pointer;
  }
}
.navbar.navbar-info {
  background-color:#000;
}
.panel.panel-info>.panel-heading {
  background-color:#403d3d;
}
.gn-inline{
  display: inline-block !important;
}
.gn-rtpad{
  padding-right: 2px;
}
