<% include ./partials/top %>
<section class="row">
    <div class="col-md-12">
        <section class="panel panel-info">
            <header class="panel-heading">
                <h2><i class="fa fa-beer"></i> Events</h2>
            </header>
            <div class="panel-body">
                <table class="table">
                    <tbody id="event_list_panel"></tbody>
                </table>
            </div>
            <% if (isSignedIn) { %>
            <footer class="panel-footer">
                <a href="/event/new"><button id="create_event" class="btn btn-info btn-raised btn-block"><i class="fa fa-plus"></i> Create Event</button></a>
            </footer>
            <% } %>
        </section>
    </div>
</section>
<section class="row">
    <div class="col-md-12 event_detail_wrapper">
        <section class="panel panel-default">
            <div class="panel-body">
                <section id="event_detail" class="well">
                    <!-- Populated onClick from EventModule#makeEventCard -->
                </section>
            </div>
            <% if (isSignedIn) { %>
            <div class="panel-footer event_detail_options">
                <button id="join_event" class="btn btn-info btn-raised btn-block" data-toggle="modal" data-target="#complete-dialog"><i class="fa fa-plus"></i> Join Event<div class="ripple-container"></div></button>
            </div>
            <% } %>
        </section>
    </div>
</section>

<div id="complete-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"> Join Event</h4>
      </div>
      <div id="join_event_confirm_modal" class="modal-body">
        <p>Do you want to join this event?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-times"></i> Dismiss</button>
        <button class="btn btn-success" data-dismiss="modal" id="confirm_join_event" data-id="0"><i class="fa fa-check"></i> Confirm</button>
      </div>
    </div>
  </div>
</div>
<% include ./partials/bottom %>
