<% include ./partials/top %>
<section class="row">
    <div class="col-md-12">
        <section class="panel panel-info">
            <header class="panel-heading">
                <h2><i class="fa fa-beer"></i> Events</h2>
            </header>
            <div class="panel-body">
                <table class="table">
                    <tbody id="event_list_panel"></tbody>
                </table>
            </div>
            <% if (isSignedIn) { %>
            <footer class="panel-footer">
                <a href="/event/new"><button id="create_event" class="btn btn-info btn-raised btn-block"><i class="fa fa-plus"></i> Create Event</button></a>
            </footer>
            <% } %>
        </section>
    </div>
</section>
<section class="row">
    <div class="col-md-12 event_detail_wrapper">
        <section class="panel panel-default">
            <div class="panel-body">
                <section id="event_detail" class="well">
                    <!-- Populated onClick from EventModule#makeEventCard -->
                </section>
            </div>
            <% if (isSignedIn) { %>
            <div class="panel-footer event_detail_options">
                <button id="join_event" class="btn btn-info btn-raised btn-block"><i class="fa fa-plus"></i> Join Event</button>
            </div>
            <% } %>
        </section>
    </div>
</section>
<% include ./partials/bottom %>
