<% include ./partials/top %>
<section class="row">
    <div class="jumbotron">
        <h1 class="page-header">Connect with your colleagues</h1>
        <img src="http://placehold.it/1200x500" alt="" class="img-responsive center-block" />
    </div>
    <div class="well text-center">
        <section class="row main_points">
            <div class="col-md-4">
                <i class="fa fa-5x fa-beer"></i>
                <h2>Browse open events</h2>
                <p>When a group of co-workers decide to get together after work and go do something fun,
                sometimes it's "the more the merrier". After posting an event to the event calendar, SocketSocial members
            can easily find additional people to accompany them.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-5x fa-bicycle"></i>
                <h2>Search members by hobby</h2>
                <p>Strong bonds between employees fosters a welcoming environment and allows for measurable increases to productivity.
                By searching out those who have similar hobbies to you, the "social spiderweb" of DealerSocket will grow.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-5x fa-users"></i>
                <h2>Easily access member social media</h2>
                <p>Many of us are active on other social networks, and don't mind having new connections. SocketSocial allows DealerSocket employees
                who wish to increase their audience the opportunity to network with other employees with similar goals.</p>
            </div>
        </section>
    </div>
    <section class="well text-center">
        <div class="row">
            <section class="col-xs-6 col-md-6">
                <a href="/signin"><button class="btn btn-info btn-lg"><i class="fa fa-sign-in"></i> Sign in</button></a>
            </section>
            <section class="col-xs-6 col-md-6">
                <a href="/signup"><button class="btn btn-info btn-lg"><i class="fa fa-paper-plane"></i> Sign up</button></a>
            </section>
        </div>
    </section>
</section>
<% include ./partials/bottom %>
