<% include ./partials/top %>
<main class="container ss-content">
    <section class="row">
        <div class="col-md-12">
            <section class="well" id="member_profile_wrapper"></section>
        </div>
    </section>
<% include ./partials/bottom %>
