<% include ./partials/top %>
<main class="container ss-content">
    <section class="row">
        <div class="col-md-12">
            <p>Profile</p>
        </div>
    </section>
<% include ./partials/bottom %>
