<% include ./partials/top %>
<section class="row">
    <div class="col-md-12">
        <section class="panel panel-info">
            <header class="panel-heading">
                <h2>Sign up</h2>
            </header>
            <div class="panel-body">
                <form>
                    <fieldset class="form-group">
                        <label>Full Name</label>
                        <input id="signup_user_name" type="text" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Email</label>
                        <input id="signup_user_email" type="email" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Password</label>
                        <input id="signup_user_password" type="password" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Password (again)</label>
                        <input id="signup_user_password_verify" type="password" class="form-control" />
                    </fieldset>
                </form>
            </div>
            <footer class="panel-footer">
                <button id="signup_user_clear" class="btn btn-info"><i class="fa fa-trash"></i> Clear</button>
                <button id="signup_user_submit" class="btn btn-info"><i class="fa fa-arrow-right"></i> Submit</button>
            </footer>
        </section>
    </div>
</section>
<% include ./partials/bottom %>
