a {
  text-decoration: none !important; }

body {
  background-image: url("/images/gplaypattern.png"); }

.logo:hover {
  cursor: pointer; }

.navbar.navbar-info {
  background-color: #000; }

.panel.panel-info > .panel-heading {
  background-color: #403d3d; }

.gn-inline {
  display: inline-block !important; }

.gn-rtpad {
  padding-right: 2px; }

.navbar_link {
  transition: background-color 0.33s ease-in, color 0.25s ease-in; }
  .navbar_link:hover {
    cursor: pointer;
    background-color: #CCC;
    color: #444; }

.logo-tagline {
  font-size: 2rem;
  border-radius: 4px;
  background-color: #005DA8 !important;
  transition: background-color 0.67s ease-in; }
  .logo-tagline:hover {
    background-color: #03A9F4 !important; }

.jumbotron {
  position: relative; }

.jumbotron,
.well:not(.main_header):not(.map_well) {
  border-left: 6px solid #005DA8 !important; }

.map_well {
  border-bottom: 6px solid #4CAF50 !important; }

.main_points i {
  color: #03A9F4; }

.main_points h2 {
  letter-spacing: 5px;
  text-transform: uppercase; }

.main_points p {
  font-size: 1.25em;
  letter-spacing: 2px; }

.sub_title {
  margin-left: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #005DA8; }

.index-btn {
  font-size: 1.5em;
  letter-spacing: 2px;
  text-decoration: none !important; }

#random_member_fab {
  position: absolute;
  top: 2rem;
  right: 2rem; }

.event_detail_wrapper {
  display: none; }

.index_background {
  height: 35rem;
  background: url(/images/index_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.events_background {
  height: 35rem;
  background: url(/images/events_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.members_background {
  height: 35rem;
  background: url(/images/members_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
