@media only screen and (min-width: 320px) {
  .xs-middle {
    text-align: center; } }

@media only screen and (min-width: 480px) {
  .xs-middle {
    text-align: center; } }

@media only screen and (min-width: 768px) {
  .xs-middle {
    text-align: center; } }

@media only screen and (min-width: 1200px) {
  .xs-middle {
    text-align: left; } }
